*{
    overflow: hidden;
    box-sizing: border-box;
    color: #2a2f50;
}
img{
    cursor: pointer;
    max-height: 250px;
}

/* GENERAL */
.container{
    background: white;
    /* border: 1.5px solid #2a2f50; */
    border-radius: 4px;
    border: 1px solid rgb(181, 178, 178);
    /* border-radius: 15px; */
    /*padding: 12px;*/
}
.padNormal{
    padding: 12px;
}

.floatLeft{
    float: left;
}
/* .sectionContainer{
    box-shadow: 7px 10px 15px #2a2f50;
} */
.center{
    text-align: center;
}
.left{
    text-align: left;
}
/* .shadow{
    box-shadow: 7px 10px 15px #2a2f50 !important;
} */
.bold{
    font-weight: bold;
}
.darkBlue{
    color: #2a2f50;
}
/* JOBS */
.jobsContainer{
    align-content: center;
    text-align: center;
}
.jobsContainer:after{
    clear: both;
    content: '';
    display: block;
}

.jobBox{
    float: left;
    width: 98%;
    /*height: 390px;*/
    margin: 0.44%;    

}

.imagejob img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.logoContainer{
    margin: 0%;
    background-color: green;
    overflow: visible;
    width: 10%;
}
.logo{
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: left;
}
.jobTitle{
    padding-bottom: 3px;
    margin-bottom: 0px; 
}
.mainjobDetails{
    float: left;
    width: 88%;
    margin-left: 10px;
    text-align: left;
}
.jobDescription{
    margin: 15px 0px;
}
/* .locationIcon{
    font-size: 10px;
} */
.visualPart{
    margin-bottom: 15px;
}
