<div>
  <h5>Filtros:</h5>
  <p>Bootcamp: {{bootcamp | async}}  |  Location: {{center | async}}  |  Company: {{company | async}} }}</p>
</div>

    <!-- JOBS -->
    <section class="jobSection container padNormal sectionContainer">
      <div class="jobsContainer">
        <div class="jobBox container shadow" *ngFor="let job of jobsArray">
          <div class="padNormal">
            <div class="visualPart">
              <div class="logoContainer">
                <img class="logo" [src]="job.logo" alt="">
              </div>
              <div class="mainjobDetails">
                  <h5 class="bolder darkBlue">{{job.title}}</h5>
                  <p class="m-1"><i class="map marker alternate icon locationIcon"></i> {{job.location}}      |      {{job.date}}</p>
                  <p class="m-1 pb-2">{{job.shortDescription}}</p>
                  <p>Contact mail: <span class="bold darkBlue">{{job.mail}}</span></p>
              </div>
            </div>

            <p >{{job.description}}</p>
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            See more
          </div>
        </div>
      </div>
    </section>
