/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Helvetica-Neue', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    cursor: pointer;
}

/* GENERAL */
/* .container{
    background: white;
    border: 3px solid #2a2f50;
    border-radius: 15px;
} */

i.icon{
    height: auto !important;
}


@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}

.padNormal{
    padding: 12px;
}

.floatLeft{
    float: left;
}

.sectionContainer{
    margin: 25px 0px;
}

.center{
    text-align: center;
}

/* VISUAL */
.visual{
    background-color: #13294B;
    background-repeat: cover;
    padding-bottom: 50px; 
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    height: 150px;
}

.visual:after{
    clear: both;
    content: '';
    display: block;
}

.visual>div{
    float: left;
}

.visual .photoUser{
    position: absolute;
    width: 170px;
    height: 170px;
    border: 4px solid white;
    border-radius: 50%;
    float: left;
    bottom: -87px;
    left: 7%;
}

.containerLinks li{
    display:inline-block;
    padding-left: 5%;
}

.presentationContent{
    width: 70%;
    margin-left: 15px;
}

.presentationContent div{
    background: white;
    border: 1px solid black;
}

.presentationContent .nameContainer{
    min-width: 15%; 
    max-width: 60%;
    padding: 12px;
    margin-bottom: 15px;
}
.presentationContent .shorPresentation{
    padding: 12px;
}

.whole{
    padding-left: 5%;
}

.page-header hr{
    width: 85%;
}

.canopyContainer{
    margin: 0 auto;
    max-width: 890px;
}

.profileCanopy{
    height: 60px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.navbar li{
    color: #B7B8B9;
    font-size: small;
}

/*POSTS*/
.feed-container{
    border-radius: 4px;     
    border: 1px solid #ddd;
    margin: 4% 10%;
}

.postsHeading{
    border-color: #ddd;
    background-color: #f5f5f5;
    color: black;
    padding: 10px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.imagePost{
    width: 100%;
    height: 100%;
}

h2{
    margin-bottom: 15px;
}

h1, h4{
    font-weight: bold;
}

.postContainer{
    margin: auto;
    padding: 0%; 
    margin-bottom: 15px;
}

.postContainer img{
    width: 100%;
    background: lightcoral;
} 

/* PROJECTS */
.projectsContainer:after{
    clear: both;
    content: '';
    display: block;
}

.projectBox{
    float: left;
    margin-right: 20px; 
}

.imageProject img{
    width: 100%;
    height: auto;
    cursor: pointer;
} 

.stream li{
    list-style: none;
    padding: 1em 15px;
    border-bottom: 1px solid #eeeeee;
    line-height: 1.42857143;
    background-color: white;
    display: block;
}


li img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.editButton{
    border: 1px solid #66757f;
    color: #66757f;
    border-radius: 100px !important;
    float: right;
}

div:after{
    clear: both;
}