<div class="wrapper">
  <div class="ui attached stackable menu">
    <div class="logoContainer">
      <img src="" alt="">
      <p>LOGO</p>
    </div>



    <div class="ui container">
      <a class="item itemHeader" [routerLink]="['home']">
        <i class="home icon"></i> home
      </a>
      <a class="item itemHeader" [routerLink]="['perfil']">
          <i class="user icon"></i> profile
      </a>        
      <a class="item itemHeader" [routerLink]="['proyectos']">
          <i class="grid layout icon"></i> projects
      </a>
      <a class="item itemHeader" [routerLink]="['empleo']">
        <i class="briefcase icon"></i> jobs
      </a>        
      <!--
      <div>
        <i class="briefcase icon ">Jobs</i><i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="list icon"></i> All</a>
          <a class="item"><i class="code icon"></i> Full Stack</a>
          <a class="item"><i class="lightbulb outline icon"></i> UI / UX</a>
          <a class="item"><i class="chart bar outline icon"></i> Data Science</a>
        </div>
      </div>
      -->
  </div>

  <div class="ui action input p-2  searcher">
    <input type="text" placeholder="Search...">
    <button class="ui icon button">
      <i class="search icon"></i>
    </button>
  </div> 


  <div class="right item row">
    <div class="ui input">
      <button class="ui primary button logOutButton">Log Out</button>
    </div>
  </div>
</div>
</div>