<div class="wrapper">
  <div class="ui attached stackable menu">
    <div class="logoContainer">
      <img src="" alt="">
      <p>LOGO</p>
    </div>



    <div class="ui container">
      <a class="item itemHeader p-2" [routerLink]="['home']">
          <i class="home icon"></i> Home
      </a>
      <a class="item itemHeader p-2" [routerLink]="['perfil']">
          <i class=""></i> Profile
      </a>
      <a class="item itemHeader p-2" [routerLink]="['network']">
          <i class=""></i> Network
      </a>                
      <a class="item itemHeader p-2" [routerLink]="['proyectos']">
          <i class="images outline icon"></i> Projects
      </a>
      <a class="item itemHeader p-2" [routerLink]="['empleo']">
          <i class="briefcase icon"></i> Jobs
      </a>        
      <!--
      <div>
        <i class="briefcase icon ">Jobs</i><i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="list icon"></i> All</a>
          <a class="item"><i class="code icon"></i> Full Stack</a>
          <a class="item"><i class="lightbulb outline icon"></i> UI / UX</a>
          <a class="item"><i class="chart bar outline icon"></i> Data Science</a>
        </div>
      </div>
      -->
  </div>




  
  <div class="right item row">
    <div class="ui input">
      <!-- <button class="ui button logOutButton">U</button> -->
      <button class="ui button logOutButton" (click)="logOut()">Logout</button>

    </div>
  </div>
</div>
</div>