*{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.filtersContainer{
    padding: 20px 100px;
    color: white;
    background-color: #c0deed; 
}

