<!-- HEADER -->
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Projects
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>

    <div class="right item">
      <div class="ui input">
        
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button class="ui primary button">Login</button>
      </div>
    </div>
  </div>
</div>


<!--CONTENT-->

<div class="Hero"></div>
<div class="explanation"></div>


<!--
<div class="formLogin">
  <div class=“example-container”>
    <mat-form-field>
        <input matInput placeholder=“name”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“surname”>
    </mat-form-field>
 
    <mat-form-field>
        <input type=“email” matInput placeholder=“email”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“username”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“password”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“confirm password”>
    </mat-form-field>
 
    <mat-form-field>
        <textarea matInput placeholder=“Textarea”></textarea>
    </mat-form-field>
 
    <mat-form-field>
        <mat-select placeholder=“Select”>
            <mat-option value=“option”>Option</mat-option>
        </mat-select>
    </mat-form-field>
 </div>
</div>

-->



<!--FOOTER-->
