<!-- HEADER -->
<!--
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> LOGO
    </a>


    <div class="right item">
      <div class="ui input">
        
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button class="ui primary button">Login</button>
      </div>
    </div>
  </div>
</div>
-->


<!--CONTENT

the header for this page should not have any of the nav bar visible (no log out, no search bar etc)
-->


  <div class="container-fluid">
    <div class="row">
      <div class="pb-6 intro col-lg-6 col-md-6 col-sm-12 col-xs-12 row-height">
        <!-- <h1 class="mt-6 headline display-3 align-middle pl-5">Create, Collaborate</h1> -->
        <!-- <hr class="mb-5" width="75%"> -->
        <!-- <p class="lead">this is a description of the enterprise social network we've made. Feel free to fork this on GitHub :)</p> -->
      </div>
      <div class="pb-6 lightblueBackground log col-lg-6 col-md-6 col-sm-12 col-xs-12 row-height">
        <p style="display: none" class="mt-5 text-center">Log in</p>
        
        <div class="log lightblueBackground row-height text-center">
            <div class="mt-5">
                <img class="logoBig" src="../../assets/images/logo1.png" alt="">
            </div> 
            <h2 class="mt-5 text-center">Join <strong>CodeNet</strong> today.</h2>
    
            <button type="button" class="signbtn mt-5 btn btn-light" *ngIf="formToShow === 0" (click)="onClickSign()">Sign up</button>
            <button type="button" class="loginbtn btn btn-light" *ngIf="formToShow === 0" (click)="onClickLog()">Log in</button>
    
            <form class="animateif" [@fadeAllIn]="'stop'" [formGroup]="formNewUser" *ngIf="formToShow === 1"
            (ngSubmit)="onSubmitSignup()">
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput placeholder="name" formControlName="name">
              </mat-form-field>
    
              <br>
             
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput placeholder="surname" formControlName="surname">
              </mat-form-field>
    
              <br>
    
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input type="email" matInput placeholder="email" formControlName="email">
              </mat-form-field>
             
              <br>
    
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput placeholder="alias" formControlName="alias">
              </mat-form-field>
    
              <!-- <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input #imgFileInput (change)="onFileChange($event)" formControlName="urlimage" matInput placeholder="Select a profile image">
              </mat-form-field> -->
              <button type="button" md-button (click)="imgFileInput.click()">Add a profile image</button>
              <input hidden type="file" #imgFileInput (change)="onFileChange($event)" formControlName="urlimage"/>               
          
    
              <br>
    
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput type="password" placeholder="password" formControlName="password">
              </mat-form-field>
    
              <br>
             
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput type="password" placeholder="confirm password">
              </mat-form-field>
    
              <br>
    
              <button class="ui button darkblueBackground fontColorWhite" mat-raised-button>Sign Up!</button>
            </form>
    
    
    
    
            <form class="animateif" [@fadeAllIn]="'stop'" *ngIf="formToShow === 2" [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput placeholder="email" formControlName="email">
              </mat-form-field>
    
              <br>
    
              <mat-form-field class="example-full-width" floatLabel="never" color="primary">
                <input matInput type="password" placeholder="password" formControlName="password">
              </mat-form-field>
              <br>
              <button class="ui button darkblueBackground fontColorWhite" mat-raised-button>Welcome back!</button>
            </form>
          </div>
      </div>
<!-- LOGIN
        <form 
        [formGroup]="formLogin"
        (ngSubmit)="onSubmitLogin()">
          <p>
            <label for="email">Email</label>
            <input type="text" formControlName="email">
          </p>
          <p>
              <label for="password">Password</label>
              <input type="text" formControlName="password">
          </p>
      
          <p><input type="submit" value="Palante!"></p>
        </form> -->


        <!-- <p>Sign up!</p>
        <form
        [formGroup]="formNewUser"
        (ngSubmit)="onSubmitSignup()">
    
        <p>
          <label for="name">Name</label>
          <input type="text" formControlName="name">
        </p>
        <p>
            <label for="surname">Surname</label>
            <input type="text" formControlName="surname">
        </p>
        <p>
            <label for="email">Email</label>
            <input type="text" formControlName="email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" formControlName="password">
        </p>
        <p>
            <label for="date">Date</label>
            <input type="text" formControlName="date">
        </p>
        <p>
            <label for="urlimage">image</label>
            <input type="file" (change)="onFileChange($event)" formControlName="urlimage">
        </p>
        <p>
            <label for="location">Location</label>
            <input type="text" formControlName="location">
        </p>
        <p>
            <label for="alias">Alias</label>
            <input type="text" formControlName="alias">
        </p>
        <p>
            <label for="linkFacebook">Link FB</label>
            <input type="text" formControlName="linkFacebook">
        </p>
        <p>
            <label for="linkGithub">Link Github</label>
            <input type="text" formControlName="linkGithub">
        </p>
        <p>
            <label for="linkLinkedin">Link Linkedin</label>
            <input type="text" formControlName="linkLinkedin">
        </p>
        <p>
            <label for="linkMedium">Link Medium</label>
            <input type="text" formControlName="linkMedium">
        </p>
        <p>
            <label for="linkYoutube">Link Youtube</label>
            <input type="text" formControlName="linkYoutube">
        </p>
        <p>
            <label for="linkOthers">Link others</label>
            <input type="text" formControlName="linkOthers">
        </p>    
        <p>
            <label for="shortDescription">Short description</label>
            <input type="text" formControlName="shortDescription">
        </p>
        <p>
            <label for="description">description</label>
            <input type="text" formControlName="description">
        </p>
        <p>
            <label for="education">Education</label>
            <input type="text" formControlName="education">
        </p>    
        <p>
            <label for="experience">Experience</label>
            <input type="text" formControlName="experience">
        </p>
        <p>
            <label for="otherInformation">Other</label>
            <input type="text" formControlName="otherInformation">
        </p>
    
        <p><input type="submit" value="Sign up!"></p>
    
        </form> -->

        <!-- SIGN UP -->

        <!-- <button type="button" class="login mt-5 btn btn-primary">Sign up</button> -->
       <!-- <button type="button" class="sign btn btn-light">Log in</button> -->

    </div>
  </div>





<!--
<div class="formLogin">
  <div class="example-container">
    <mat-form-field>
        <input matInput placeholder="name">
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder="surname">
    </mat-form-field>
 
    <mat-form-field>
        <input type="email" matInput placeholder="email">
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder="username">
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder="password">
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder="confirm password">
    </mat-form-field>
 
    <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
 
    <mat-form-field>
        <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
 </div>
</div>
-->