<!-- HEADER -->
<!--
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> LOGO
    </a>


    <div class="right item">
      <div class="ui input">
        
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button class="ui primary button">Login</button>
      </div>
    </div>
  </div>
</div>
-->


<!--CONTENT

the header for this page should not have any of the nav bar visible (no log out, no search bar etc)
-->


  <div class="container-fluid">
    <div class="row">
      <div class="intro col-6 row-height">
        <h1 class="headline display-4 p-5">Create, Collaborate</h1>
        <p class="p-3 lead">this is a description of the enterprise social network we've made. Feel free to fork this on GitHub</p>
        <hr class="p-3 my-4">
        <p class="pl-3 pr-3">It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
      <div class="log col-6 row-height">
        <p class="mt-5 text-center">Log in</p> 

        <form 
        [formGroup]="formLogin"
        (ngSubmit)="onSubmit()">
          <p>
            <label for="email">Email</label>
            <input type="text" formControlName="email">
          </p>
          <p>
              <label for="password">Password</label>
              <input type="text" formControlName="password">
          </p>
      
          <p><input type="submit" value="Palante!"></p>
        </form>


        <button type="button" class="login mt-5 btn btn-primary">Sign up</button>
       <!-- <button type="button" class="sign btn btn-light">Log in</button> -->
      </div>
    </div>
  </div>




<!--
<div class="formLogin">
  <div class=“example-container”>
    <mat-form-field>
        <input matInput placeholder=“name”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“surname”>
    </mat-form-field>
 
    <mat-form-field>
        <input type=“email” matInput placeholder=“email”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“username”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“password”>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput placeholder=“confirm password”>
    </mat-form-field>
 
    <mat-form-field>
        <textarea matInput placeholder=“Textarea”></textarea>
    </mat-form-field>
 
    <mat-form-field>
        <mat-select placeholder=“Select”>
            <mat-option value=“option”>Option</mat-option>
        </mat-select>
    </mat-form-field>
 </div>
</div>

-->



<!--FOOTER-->
