*{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
 }

 .header{
    background: lightcoral;
}

 .jumbotron{
    padding: 0!important;
    background-image: url(../images/mountains1.jpg);
    background: #1da1f2;
    height: 850px;
    background-size: cover; /*easier to just have it cover the one hundred percent*/
    color: white;
    text-align: center;
    width: 100%;
 }

 .log{
     background-color: white;
     color: black;
     text-align: center;
 }
 
 .intro{
    background-color: #1da1f2;
    color: white;
 }

 .headline{
    padding-top: 150px !important;
 }

 h1{
     font-family: 'brown';
     font-weight: 100;
 }

 .login{
     background-color: #1da1f2;
 }

 .sign{
     color: #1da1f2;
 }