*{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
 }

 .header{
    background: lightcoral;
}

 .log{
     background-color: white;
     color: black;
     text-align: center;
 }
 
 .intro{
    background-color: #1da1f2;
    color: white;
 }

 @media screen and (max-width: 768px) {
    h1{
        font-size: 20px;
    }
}

 h1{
     font-family: 'brown';
     font-weight: 100;
 }
 
 .button{
    align-items: center;
}

 .signbtn{
     background-color: #1da1f2;
     padding: 5px 150px;
     border-radius: 20px;
     display:block;
     font-size: medium;
     margin: auto;
 }

 .loginbtn{
     color: #1da1f2;
     padding: 5px 150px;
     border-radius: 20px;
     display:block;
     font-size: medium;
     margin: 15px auto;
 }

 .login:hover{
    background-color: #0084b4  !important;
}

.sign:hover{
    background-color: #0084b4  !important;
}