<body>
    <div class="wrapper">
        <!-- HEADER -->
        <div class="headerContainer ">
            <div class="header wrapper">
                <app-header-app></app-header-app>  
            </div>
        </div>

        <!-- CONTENT -->
        <div class="contentContainer main wrapper">
                <router-outlet></router-outlet>

    
        </div>
            
        <!-- FOOTER -->
        <div class="footerContainer">
                <div class="wrapper">
                    <app-footer-main></app-footer-main> 
                </div>
        </div>
        
    </div>
    
</body>

