*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
    color: #2a2f50;

}
img{
    cursor: pointer;
    max-height: 250px;
}
/* GENERAL */
.container{
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(181, 178, 178);    
    /* border: 3px solid #2a2f50; */
    /*padding: 12px;*/
}
.padNormal{
    padding: 12px;
}
.bold{
    font-weight: bold;
}
.floatLeft{
    float: left;
}
.sectionContainer{
    margin: auto;
    /* box-shadow: 7px 10px 15px #2a2f50; */
}
.center{
    text-align: center;
}
/* .shadow{
    box-shadow: 7px 10px 15px #2a2f50 !important;
} */
/* PROJECTS */
.projectsContainer{
    align-content: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}
.projectsContainer:after{
    clear: both;
    content: '';
    display: block;
}
.projectBox{
    float: left;
    width: 32%;
    /*height: 390px;*/
    margin: 0.44%;    
    position: relative;
    padding-bottom: 46px;
}
.imageProject img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.imageAuthorContainer{
    margin: 0%;
    background-color: green;
    overflow: visible;
    width: 16.66%;
}
.imageAuthor{
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: left;
}
.mainProjectDetails{
    float: left;
    width: 70.33%;
    margin-left: 10px;
}
.visualPart{
    margin-bottom: 15px;
}
.projectBox .button{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.wrapper{
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
}
.button{
    outline: none;
}
.mat-form-field-appearance-outline .mat-form-field-outline:hover {
    color: #13294B;
}
.headingForm{
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: #13294B;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center!important;
}



