<!-- 
FILTERS

<div>
  <h5>Filtros:</h5>
  <p>Bootcamp: {{bootcamp | async}}  |  Center: {{center | async}}  |  State: {{state | async}}  |  Order: {{order | async}}</p>
</div> -->



<!-- 
<div class="col-4">
  <div *ngFor="let project of projectsArray">
    <img [src]="project.image" alt="">
    <h3>{{project.title}}</h3>
    
  </div>
</div> -->

    <!-- PROJECTS -->
    <section class="projectSection container padNormal sectionContainer">
      <div class="projectsContainer">
        <div class="projectBox container shadow" *ngFor="let project of projectsArray">
          <div class="imageProject"> <img [src]="project.image" alt=""></div>
          <div class="padNormal">
            <div class="visualPart">
              <div class="imageAuthorContainer">
                <img class="imageAuthor" [src]="project.urlimage" alt="">
              </div>
              <div class="mainProjectDetails">
                  <h5>{{project.alias}} | {{project.title}}</h5>
                  <p>{{project.shortDescription}}</p>
                  <p class="center">{{project.bootcamp}}</p>
              </div>
            </div>

            <p >{{project.description}}</p>
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            See more
          </div>
        </div>
      </div>

      <form 
      [formGroup]="formNewProject"
      (ngSubmit)="onSubmit()">
      <p>
        <label for="title">Title</label>
        <input type="text" formControlName="title">
      </p>
      <p>
          <label for="image">Image</label>
          <input type="text" formControlName="image">
      </p>
      <p>
          <label for="shortDescription">Short Description</label>
          <input type="text" formControlName="shortDescription">
      </p>
      <p>
          <label for="description">Description</label>
          <input type="text" formControlName="description">
      </p>
      <p>
          <label for="bootcamp">Bootcamp</label>
          <input type="text" formControlName="bootcamp">
      </p>
      <p>
          <label for="location">Location</label>
          <input type="text" formControlName="location">
      </p>
      <p>
          <label for="state">State</label>
          <input type="text" formControlName="state">
      </p>
      <p>
          <label for="tags">Tags</label>
          <input type="text" formControlName="tags">
      </p>
      <p>
          <label for="link">Link</label>
          <input type="text" formControlName="link">
      </p>
      <p>
          <label for="date">Date</label>
          <input type="text" formControlName="date">
      </p>
  
      <p><input type="submit" value="Sign up!"></p>
      </form>
    </section>