*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
}
img{
    cursor: pointer;
    max-height: 250px;
}

/* GENERAL */
.container{
    background: white;
    border: 3px solid #2a2f50;
    border-radius: 15px;
    /*padding: 12px;*/
}
.padNormal{
    padding: 12px;
}

.floatLeft{
    float: left;
}
.sectionContainer{
    margin: 25px 0px;
    box-shadow: 7px 10px 15px #2a2f50;
}
.center{
    text-align: center;
}
.shadow{
    box-shadow: 7px 10px 15px #2a2f50 !important;
}
/* PROJECTS */
.projectsContainer{
    align-content: center;
    text-align: center;
}
.projectsContainer:after{
    clear: both;
    content: '';
    display: block;
}

.projectBox{
    float: left;
    width: 32%;
    /*height: 390px;*/
    height: 540px;
    margin: 0.44%;    

}

.imageProject img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.imageAuthorContainer{
    margin: 0%;
    background-color: green;
    overflow: visible;
    width: 16.66%;
}
.imageAuthor{
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: left;
}
.mainProjectDetails{
    float: left;
    width: 70.33%;
    margin-left: 10px;
}
.visualPart{
    margin-bottom: 15px;
}
