*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
 }
 img{
    cursor: pointer;
    max-height: 250px;
 }
 
 /* GENERAL */
 .container{
    background: white;
    border: 3px solid #2a2f50;
    border-radius: 15px;
    /*padding: 12px;*/
 }
 .padNormal{
    padding: 12px;
 }
 
 .floatLeft{
    float: left;
 }
 .sectionContainer{
    margin: 25px 0px;
    box-shadow: 7px 10px 15px #2a2f50;
 }
 .center{
    text-align: center;
 }
 .shadow{
    box-shadow: 7px 10px 15px #2a2f50 !important;
 }
 .fontSmall{
    font-size: 12px;
 }
 /* userTS */
 .usersContainer{
    align-content: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
 }
 .usersContainer:after{
    clear: both;
    content: '';
    display: block;
 }
 
 .userBox{
    float: left;
    width: 18%;
    /*height: 390px;*/
    margin: 1%;
    position: relative;
 }
 
 .imageuser img{
    margin-top: 12px;
    width: 50%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
 }