
  <h4 class="ui dividing header">Our Students Projects</h4>

  <div class="four fields">

  <!-- BOOTCAMP -->

    <div class="field">
      <label>Bootcamp</label>
      <select class="ui fluid dropdown" (change)="onBootcampChange($event)">
        <option value="allBootcamps">All</option>
        <option value="fullStack">Full Stack</option>
        <option value="uiUx">UI/UX</option>
        <option value="dataScience">Data Science</option>
      </select>
    </div>

<!-- CENTER -->
    <div class="field">
      <label>Center</label>
      <select class="ui fluid dropdown" (change)="onCenterChange($event)">
        <option value="allCenters">All</option>
        <option value="madrid">Madrid</option>
        <option value="barcelona">Barcelona</option>
      </select>
    </div>

<!-- DONE OR IN PROGRESS -->
<div class="field">
  <label>State</label>
  <select class="ui fluid dropdown" (change)="onStateChange($event)">
    <option value="allState">All</option>
    <option value="finished">Finished</option>
    <option value="inProgress">In progress</option>
  </select>
</div>

<!-- ORDER -->
<div class="field">
  <label>Order by</label>
  <select class="ui fluid dropdown" (change)="onOrderChange($event)">
    <option value="featured">Featured</option>
    <option value="newsFirst">News first</option>
  </select>
</div>

  </div>




