<form 
    [formGroup]="formNewPost"
    (ngSubmit)="onSubmit()">
    <p  style="display: none">
            <label for="title">Title</label>
        <input type="text" formControlName="title">
    </p>
    <p  style="display: none">
            <label for="fkUser">fkUser</label>
        <input type="text" formControlName="fkUser">
    </p>
    <p  style="display: none">
            <label for="date">date</label>
        <input type="text" formControlName="date">
    </p>
    <p  style="display: none">
            <label for="content">content</label>
        <input type="text" formControlName="content">
    </p>
    <p  style="display: none">
            <label for="image">image</label>
        <input type="text" formControlName="image">
    </p>
    <p  style="display: none">
            <label for="video">video</label>
        <input type="text" formControlName="video">
    </p>
    <p  style="display: none">
            <label for="links">links</label>
        <input type="text" formControlName="links">
    </p>
    <p  style="display: none">
   
    <p  style="display: none">
                    <input type="submit" value="Post!"></p>

</form>




    <!-- postS -->

    <!--need to add this to container for FEED-->
<div class="container">
    <div class="row">
        <div class="whole col">
            <div class="mt-5 mb-4 page-header">
                <h1>News Feed</h1>
                <hr>
            </div>
            <div class="feed-container">
                    <div class="postsHeading">
                            <h3 class="panelTitle pl-3">Latest Posts</h3>
                    </div>
                    <div class="feed-body">
                            <div class="containerCompose">
                                <div class="row">
                                    <div>
                                        <a class="profpic" href="">
                                            <img class="img" src="../../assets/images/foto_linkedin_javi.png" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="posting" name="posting" method="post" enctype="multipart/form-data">
                                            <textarea class="composePost" placeholder="Compose post..."></textarea>
                                            <button class="ui button">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="stream">
                                <li>
                                    <div class="post-container">
                                        <img class="img" src="../../assets/images/foto_linkedin_javi.png" alt="">
                                        <h4 class="user-name">USER.NAME</h4>
                                        <p class="postcontent">
                                            CONTENT
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-container">
                                        <img class="img" src="../../assets/images/foto_linkedin_javi.png" alt="">
                                        <h4 class="user-name">USER.NAME</h4>
                                        <p class="postcontent">
                                                CONTENT
                                        </p>
                                    </div>
                                </li>
                            </ul>
                    </div>
            </div>
        </div>
    </div>
</div>

    


    <section class="postSection padNormal sectionContainer">

        <div class="postsContainer">
            <div class="postBox container containerPosts shadow" *ngFor="let post of postsArray">
                <a>
                    <div class="padNormal">
                        <div class="visualPart">
                            <div class="imageUserContainer">
                                <img class="imageUser" [src]="post.urlimage" alt="">
                            </div>
                            <div class="mainpostDetails">
                                <h5 class="bolder darkBlue">{{post.alias}}</h5>
                                <p> {{post.location}} | {{post.date}}</p>
                                <p>{{post.content}}</p>
                            </div>
                        </div>
                    </div>
                </a>
    
            </div>
        </div>
    </section>